html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
  background-color: #A9B7BE;
}

/* Create a top and fiexed navbar */
.top_nav {
  background-color: black;
  font-weight: bold;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: auto;
  font-size: 30px;
}

.top_nav a {
  color: white;
  width: 100%;
  padding: 30px 30px;
}

.top_nav a:hover {
  background-color: #CCD2D2;
  color: black;
}

.top_right_nav{
  float: right;
  top: 0;
}

.main{
  position: absolute;
  top: 50%;
  left: 28%;
}

input[type=text], input[type=password], input[type=email] { 
  width: 70%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid rgb(204, 204, 204); 
  font-size: 15px;
} 

button { 
  width: 100%; 
  background-color: #399EB7; 
  color: white; 
  padding: 14px 20px; 
  margin: 8px 0; 
  font-size: 25px;
  border: none; 
  
} 

button:hover { 
  opacity: 0.9; 
} 

